.App {
  font-family: monospace;
  text-shadow: 1px 1px #002A00;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.inventory {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.bar {
  display: grid;
  grid-template-columns: repeat(9, 32px);
  gap: 2px;
}

.bar .slot {
  width: 32px;
  height: 32px;
  margin: 0px;
  position: relative;
  background-color: #8b8b8b;
}

.bar .slot figcaption {
  position: absolute;
  right: 2px;
  bottom: -1px;
  color: #fcfcfc;
}

.bar .slot img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.bar .slot .damageBack {
  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 2px;
  background-color: black;
}

.bar .slot .damage {
  position: absolute;
  bottom: 0px;
  
  height: 2px;
  z-index: 1;
}